/* CSS for the body */
body {
  background-color: #040404;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}


/* CSS for the login button */
#login-button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #1db954;
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
}

#login-button:hover {
  background-color: #1ed760;
}

/* CSS for the album collage */
#collage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

#collage-container img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}

/* animate the image to move around the screen*/
#collage-container img:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}